/* NAVIGATION */
.fixto-fixed ul.dropdown-menu.simple-text-buttons>.current-menu-item>a, .fixto-fixed ul.dropdown-menu.simple-text-buttons>.current_page_item>a {
    color: #3E7127!important;
}

/* FORMS */
#gf_progressbar_wrapper_1 .gf_progressbar {
    border-radius: 0px;
}

.gf_progressbar:after {
    height: 0 !important;
}

#gf_progressbar_wrapper_1 .gf_progressbar .gf_progressbar_percentage {
    background: #3E7127;
    border-radius: 0px;
}

.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label{
    color: #3E7127;
}

.gform_footer .button, input[type=submit] {
    background-color: #3E7127;
    border-radius: 2px;
}

.gform_wrapper input.button {
    background-color: #3E7127 !important;
    color: #FFF !important;
    padding: 0px 15px !important;
    border-radius: 2px !important;
}