/* NAVIGATION */
.fixto-fixed ul.dropdown-menu.simple-text-buttons>.current-menu-item>a,
.fixto-fixed ul.dropdown-menu.simple-text-buttons>.current_page_item>a {
    color: #3E7127!important;
}

.fixto-fixed ul.dropdown-menu.simple-text-buttons>li:not(.current-menu-item):not(.current_page_item):hover>a{
    color: #3E7127 !important;
}

/* FORMS */
.gf_progressbar_wrapper .gf_progressbar {
    border-radius: 0px;
}

.gf_progressbar:after {
    height: 0 !important;
}

.gf_progressbar .gf_progressbar_percentage {
    background: #3E7127;
    border-radius: 0px;
}

.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label{
    color: #3E7127;
}

.gform_footer .button, input[type=submit],
#loginform .button {
    background-color: #3E7127;
    border-radius: 2px;
}

.gform_wrapper input.button,
#loginform .button {
    background-color: #3E7127 !important;
    color: #FFF !important;
    padding: 0px 15px !important;
    border-radius: 2px !important;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
#loginform input:not(.button) {
    padding: 9px;
}

.address_country select, .ginput_container input:not([type=submit]):not([type=checkbox]):not([type=file]),
#loginform input:not(.button) {
    background-color: rgba(0,0,0,.01);
    border: solid 1px #CCCCCC;
}

.ginput_container_fileupload input[type=file] {
    border-bottom: none !important;
}

select {
    padding: 6px !important;
    background-position: right 2px bottom 11px; 
}

textarea {
    background-color: rgba(0,0,0,.01);
    border: solid 1px #CCCCCC !important;
}

.array-hidden {
    display: none;
}

@media screen and (min-width: 1024px){
    .array-file-field {
        max-width: 33%;
    }
}
